/* CSS Document */
html { height:100%; }
body { 
	height:100%; 
	margin:0; 
	padding:0; 
	background-color:#CCC;
}
h3 { padding-left:0px; }
form {
	margin:15%;
}
.numerosdasorte {
	border-radius:50%;
	display:inline-block;
	margin:5px;
	padding-top:30px;
	height:70px;
	width:100px;
	border:1px solid ##064424;
	background-color:#0b8043;
	font-size:30px;
}

a.button {
  display:block;
  padding: 10px 10px;
  background: #4479BA;
  color: #FFF;
  margin: 10px;
  line-height: 20px;
}

.hidden {
  display: none !important;
}

.progressDialog {
  margin: 0 auto;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
}

.progressDialog #message {
  width: 100px;
  float:left;
}

#spinner {
  width: 10px;
  height: 10px;
  background-color: #333;
  float:left;
  margin: 5px auto;
}

.animated {
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px); background-color: #333; }
  50% { -webkitf-transform: perspective(120px) rotateY(180deg); background-color: #ccc; }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg); background-color: #333; }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    background-color: #333;
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    background-color: #ccc;
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    background-color: #333;
  }
}